<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenCV.UWP.native.all" version="0.0.2-alpha" targetFramework="native" />
  <package id="OpenCV.UWP.native.calib3d" version="0.0.2-alpha" targetFramework="native" />
  <package id="OpenCV.UWP.native.core" version="0.0.2-alpha" targetFramework="native" />
  <package id="OpenCV.UWP.native.features2d" version="0.0.2-alpha" targetFramework="native" />
  <package id="OpenCV.UWP.native.flann" version="0.0.2-alpha" targetFramework="native" />
  <package id="OpenCV.UWP.native.imgcodecs" version="0.0.2-alpha" targetFramework="native" />
  <package id="OpenCV.UWP.native.imgproc" version="0.0.2-alpha" targetFramework="native" />
  <package id="OpenCV.UWP.native.ml" version="0.0.2-alpha" targetFramework="native" />
  <package id="OpenCV.UWP.native.objdetect" version="0.0.2-alpha" targetFramework="native" />
  <package id="OpenCV.UWP.native.photo" version="0.0.2-alpha" targetFramework="native" />
  <package id="OpenCV.UWP.native.video" version="0.0.2-alpha" targetFramework="native" />
  <package id="OpenCV.UWP.native.videoio" version="0.0.2-alpha" targetFramework="native" />
</packages>