*.suo

Processor/ProcessorService/AssetCreator/bin/Debug*/
Processor/ProcessorService/AssetCreator/bin/Release*/
Processor/ProcessorService/AssetCreator/obj/Debug*/
Processor/ProcessorService/AssetCreator/obj/Release*/

Viewer/Unity/Library/*
Viewer/Unity/App*/
Viewer/Unity/Temp*/
Viewer/Unity/UWP*/
Viewer/Unity/EXE*/
Viewer/Unity/Unity.csproj
Viewer/Unity/Unity.sln
Viewer/Unity/Unity.Editor.csproj
Viewer/Unity/Unity.Editor.Plugins.csproj
Viewer/Unity/Unity.Plugins.csproj
Viewer/TestBundle/AssetBundles.zip
Viewer/TestBundle/AssetBundles/Boat/boat.unity3d
Viewer/TestBundle/AssetBundles/Teapot/teapot.unity3d
Viewer/Unity/Assembly-CSharp-Editor-firstpass.csproj
Viewer/Unity/Assembly-CSharp-Editor.csproj
Viewer/Unity/Assembly-CSharp-firstpass.csproj
Viewer/Unity/Assembly-CSharp.csproj
/Viewer/Unity/VRApp
/Viewer/Unity/.vs/Unity/v15/Browse.VC.db
/Viewer/Unity/.vs/Unity/v15

Processor/Unity/Library*/
Processor/Unity/Temp/ProcessJobs*/
Processor/Unity/Temp*/
Processor/Unity/EXE*/
Processor/Unity/AssetBundles
/Processor/ProcessorService/.vs/AssetCreator/v15
/Processor/Unity/obj/Debug
/Processor/Unity/Unity.sln
/Processor/Unity/Assembly-CSharp.csproj
/Processor/Unity/Assembly-CSharp-Editor.csproj

BundlerWeb/WebApp-OpenIDConnect-DotNet/obj*/*
BundlerWeb/WebApp-OpenIDConnect-DotNet/bin/
BundlerWeb/WebApp-OpenIDConnect-DotNet/App_Data/
BundlerWeb/.vs/config*/
BundlerWeb/.vs/config*/

/.vs
/Viewer/Unity/obj/Debug
/Processor/Unity/.vs/Unity/v15/Server/sqlite3
