Samples/**/Unity/Library/
Samples/**/Unity/Temp/
Samples/**/.vs/
Samples/**/bin/
Samples/**/obj/
Samples/**/v14/
Samples/**/Unity/*.csproj
Samples/**/Unity/*.sln
Samples/**/*.db
Source/.vs/
Source/ipch/
Source/**/*.obj
Source/*.db
Source/*.opendb
Source/**/Debug/
Source/**/Release/
Source/**/*_i.c
Source/**/*_p.c
Source/**/*.winmd
Source/**/MixedRemoteViewCompositor.h
