**/*.db
**/*.VC.opendb
**/.vs/*
**/v14/*
**/Debug/
**/Release/
Samples/**/Library/
Samples/**/Temp/
Samples/**/bin/
Samples/**/obj/
Samples/**/Unity/*.csproj
Samples/**/Unity/*.sln
Source/ipch/
Source/**/*.obj
Source/**/*_i.c
Source/**/*_p.c
Source/**/*.winmd
Source/**/MixedRemoteViewCompositor.h
